
header{
background-color: bisque;
h1{
font-family: sans-serif;
text-align: center;
}
img{
    width: 300px;
    height: auto;
    margin: auto;
    padding: auto;

}
#boritokep{
    width: 100%;
    height: auto;
    
}

}

