body{font-family: fantasy;
background-color: rgb(30, 35, 49);
letter-spacing: normal;
font-style: italic;
color: rgb(212, 212, 212)
}
header{
  text-align: center;
 
  
}
nav {
  text-align: center;
  margin-bottom: 1rem;
  color: black;
  text-decoration: none;

}
article {
  margin-bottom: 1rem;

}
.bejegyzes{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    border: 10px solid black;


    img{
    width: 300px;
    }
    p{
    font-family: fantasy;
    background-color: rgb(30, 35, 49);
    letter-spacing: normal;
    font-style: italic;
    color: rgb(212, 212, 212)
    
    }
}





footer {
  text-align: center;
  margin-top: 1rem;
}
.idovonalbejegyzes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    border: 10px solid black;
}
img{
    width: 300px;
  
}
#boritokep{
    width: 100%;

}