.bejegyzes {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 1rem;
  border: 10px solid black;
}
@media screen and (max-width: 765px) {
  .bejegyzes {
    grid-template-columns: 1fr;
    gap: 0.75rem;
    border-width: 2px; 
  }
}
.szoveg{
  display: grid ;
  grid-template-columns: 1fr;
}
    



/* legyen reszponzív, azaz 765px alatt kerüljenek egymás alá */