/* Kell egy grid- 
szülőelem az article, azon belül kell  oszlopos elrendezés
 */
article {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.fogalom {
  border: 5px solid black;
  border-color: black;
  border-radius: 10px;
  padding: 10px;
}
#boritokep {
  width: 100%;
}
img {
  width: 300px;
}
@media screen and (max-width: 765px) {
  article{
    grid-template-columns: 1fr;
    gap: 0.75rem;
    border-width: 2px; 
  }
}
    

