body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(30, 35, 49);
  letter-spacing: normal;
  font-style: italic;
  color: rgb(212, 212, 212);

}
main{
  max-width: 1000px;
  margin: auto;
}
header {
  text-align: center;
}
nav {
  text-align: center;
  margin-bottom: 1rem;
  color: black;
  text-decoration: none;
}
article {
  margin-bottom: 1rem;
}
footer {
  text-align: center;
  margin-top: 1rem;
}

img {
  width: 300px;
}
#boritokep {
  width: 100%;
}
a{
  color: antiquewhite;
  text-decoration: none;
}
a:hover{
  color: blue;
  background-color: aliceblue;
}




/* válassz másik betűtípust, ami olvasható
A címek lehetnek ettől eltérő betűtípussal írva

Az oldal max sélessége 1000px;
a büngésző közepén helyezkedjen el
*/
/*  a mneü formázása::after
Olvasható színű linkek
ne legyenek aláhúzva


ha a linkek fölé viszem az egeret, akkor változzon meg a háttérszín és a betűszín

*/